<strong>Meetapp - Novo Evento: {{ event.title }}</strong>

<p> Olá {{ user.name }}, você acabou de criar o novo evento <b>{{ event.title }}</b>.</p>

<p>Dados do Evento:</p>
<p>Data: <b>{{ datetimeFormatted }}</b></p>
<p>Local do Evento: <b>{{ event.location }}</p>
