<strong>Meetapp - Recuperação de Senha!</strong>

<p>Recebemos uma solicitação de uma nova senha para o e-mail: <strong> {{ email }}. </strong></p>
<p> Caso não tenha sido você, por favor, desconsidere o e-mail.</p>

<p>Para recuperar sua senha, copie o token {{ token }} ou acesse o link abaixo:</p>

<a href="{{ link }}">Link para recuperação de senha</a>